<!doctype html>
<html ng-app="Search">
<head>
	<meta charset="utf-8" />
	<title>PDOne Search Service</title>
</head>
<body ng-controller="searchButtonController">
	<form>
		<input type="text" ng-model="phrase" value="" ng-enter="doSearch()"/><button type="button" ng-click="doSearch()">search</button>
	</form>
	<hr/>
	<p><button ng-click="gotoPage('p','F')">&lt;&lt;</button><button ng-click="gotoPage('p','-')">&lt;</button>page #{{people.page}} out of {{people.total_hits / people.page_length | number:0}}<button ng-click="gotoPage('p','+')">&gt;</button><button ng-click="gotoPage('p','L')">&gt;&gt;</button></p>
	<ul>
		<li ng-repeat="person in people.results">
			{{ person.firstName }} {{ person.lastName }}, {{ person.id }}
		</li>
	</ul>
	<hr/>
	<p><button ng-click="gotoPage('n','F')">&lt;&lt;</button><button ng-click="gotoPage('n','-')">&lt;</button>page #{{news.page}} out of {{news.total_hits / news.page_length | number:0}}<button ng-click="gotoPage('n','+')">&gt;</button><button ng-click="gotoPage('n','L')">&gt;&gt;</button></p>
	<ul>
		<li ng-repeat="story in news.results">
			{{ story.desc }}
		</li>
	</ul>
	<hr/>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.15/angular.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.15/angular-route.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script type="text/javascript">
		var where = "http://tmb_rpc.prod.pdone.com/",
		    search = "search_processor.php",
		    pgnumP = 1, pgnumN = 1,
		    srchfor = "",
		    searchParams = {
		    	"news" : {
					"mode":"SEARCH",
					"page":pgnumN,
					"phrase":srchfor,
					"page_length":"100",
					"type":"news",
					"callback":"JSON_CALLBACK"
				},
				"people" : {
					"mode":"SEARCH",
					"page":pgnumP,
					"phrase":srchfor,
					"page_length":"100",
					"type":"people",
					"callback":"JSON_CALLBACK"
				}
			},
			resultsHttp = {
				"news" : {
					method: "jsonp",
					responseType: "text",
					params : searchParams.news,
					timeout : 10000,
					url : where+search
				},
				"people" : {
					method: "jsonp",
					responseType: "text",
					params : searchParams.people,
					timeout : 10000,
					url : where+search
				}
			};


		var app = angular.module( "Search", [] )
			.controller("searchButtonController",searchButtonController)
			.service("searchService",searchService);
		
		function searchButtonController($scope, searchService){
			$scope.gotoPage = function(x,y){
				var what = {"p":"people","n":"news"},
				    decodex = what[x],
					oldpagenum = searchParams[decodex].page,
					newpagenum = 1;
				switch(y){
					case "F":
						 newpagenum = 1;
					break;
					case "-":
						newpagenum = oldpagenum - 1;
					break;
					case "+":
						newpagenum = oldpagenum + 1;
					break;
					case "L":
						newpagenum = Math.ceil($scope[decodex].total_hits / $scope[decodex].page_length) - 1;
					break;
				}
				searchParams[decodex].page = newpagenum;
				doSearchX($scope, searchService, decodex);
			}
			$scope.doSearch = function(){
				doSearchX($scope, searchService, "news");
				doSearchX($scope, searchService, "people");
			}
		}
		function doSearchX($scope, searchService, what){
			searchParams[what].phrase = $scope.phrase;
			
			$scope[what] = [];
			searchService.getsearch(what)
				.then(
					function(results) {
						$scope[what] = results;
					}
				);
		}
			
		function searchService( $http, $q ) {
			return({
				getsearch: function(what) {
					return( $http(resultsHttp[what]).then( handleSuccess, handleError ) );
				}
			});
		}

		function handleError( response ) {
			if (
				! angular.isObject( response.data ) ||
				! response.data.message
				) {
				return( $q.reject( "An unknown error occurred." ) );
			}

			return( $q.reject( response.data.message ) );
		}

		function handleSuccess( response ) {
			return( response.data );
		}
		
		angular.module('Search').directive('ngEnter', function() {
			return function(scope, element, attrs) {
				element.bind("keydown keypress", function(event) {
					if(event.which === 13) {
						scope.$apply(function(){
							scope.$eval(attrs.ngEnter, {'event': event});
						});
	
						event.preventDefault();
					}
				});
			};
	    });
	</script>
</body>
</html>