<!doctype html>
<html ng-app="bootstrap">
<head>
	<meta charset="utf-8" />
	<title>bootstrap</title>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.15/angular.js"></script>
	<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.2.js"></script>
	<script>
	
	var app = angular.module( "bootstrap", ['ui.bootstrap'] )
	.controller('ModalDemoCtrl', ModalDemoCtrl)
	.controller('ModalInstanceCtrl', ModalInstanceCtrl)
	.factory('showmsg',function(){
		var showservice = {}
		showservice.something = function(what){
			return ' ' + what;
		};
		return showservice;
	})
	
	function ModalDemoCtrl($scope, $modal, $log, showmsg) {

	  $scope.items = ['item1', 'item2', 'item3'];

	  $scope.open = function (size) {

		var modalInstance = $modal.open({
		  templateUrl: 'myModalContent.html',
		  controller: 'ModalInstanceCtrl',
		  size: size,
		  resolve: {
			items: function () {
			  return $scope.items;
			}
		  }
		});

		modalInstance.result.then(function (selectedItem) {
		  $scope.selected = selectedItem;
		}, function () {
		  $log.info('Modal dismissed at: ' + new Date() + showmsg.something("nothing"));
		});
	  };
	};

// Please note that $modalInstance represents a modal window (instance) dependency.
// It is not the same as the $modal service used above.
	
	function ModalInstanceCtrl($scope, $modalInstance, items) {

	  $scope.items = items;
	  $scope.selected = {
		item: $scope.items[0]
	  };

	  $scope.ok = function () {
		$modalInstance.close($scope.selected.item);
	  };

	  $scope.cancel = function () {
		$modalInstance.dismiss('cancel');
	  };
	};
	</script>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css"/>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>	
<div ng-controller="ModalDemoCtrl">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="item in items">
                    <a ng-click="selected.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <button class="btn btn-default" ng-click="open()">Open me!</button>
    <button class="btn btn-default" ng-click="open('lg')">Large modal</button>
    <button class="btn btn-default" ng-click="open('sm')">Small modal</button>
    <div ng-show="selected">Selection from a modal: {{ selected }}</div>
</div>
</body>
</html>