<my-header></my-header>
<div style="height:60px"></div>
<main>
	<form>
		<input type="text" ng-model="phrase" value="" ng-enter="doSearch()"/><button type="button" ng-click="doSearch()">search</button>
		<br/>
		<input type="text" placeholder="filter" ng-model="filterfld">
		<input type="radio" ng-model="filtertype" value="date" name="filtertype" ng-change="doReset()"/> date
		<input type="radio" ng-model="filtertype" value="title" name="filtertype" ng-change="doReset()"/> title
	</form>
	<h2>search count = {{people.count + news.count + drblog.count}}</h2>
	{{people.count}}
	<ul>
		<li ng-repeat="person in people.articles | newsFilter:filtertype:filterfld">
			{{ person.title }} : {{person.date}} 
		</li>
	</ul>
	{{news.count}}
	<ul>
		<li ng-repeat="story in news.articles | newsFilters:[filtertype,filterfld]">
			{{ story.title }} : {{story.date}} 
		</li>
	</ul>
	{{drblog.count}}
	<ul>
		<li ng-repeat="blog in drblog.articles | newsFilters:[filtertype,filterfld]">
			{{ blog.title }} : {{blog.date}} 
		</li>
	</ul>
</main>
<div style="height:60px"></div>
<my-footer></my-footer>